#app {
    padding: 2rem;
    max-width: 1280px;
}

body {
    color: var(--text);
    background-color: var(--background);
}

button {
    color: var(--text);
    background-color: var(--background2);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: var(--background) 0.3s ease;
}

button:hover {
    background-color: var(--background);
}

input {
    color: var(--text);
    background-color: var(--background2);
    padding: 0.5rem;
    border: none;
    border-radius: 7px;
}
